@import '../../../styling/all.scss';

:host {
  z-index: 99999999;
}

.side-nav-container-hadset {
  width: 100% !important;
}

.side-nav-container {
  position: fixed;
  transition: ease 0.2s;
  display: flex;
  z-index: 99999;
  overflow-y: scroll;
  background-color: $surface-1;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  flex-direction: column;
}

.navigation {
  display: flex;
  flex-direction: column;
  height: inherit;

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    & .pi {
      cursor: pointer;
      padding: 7px;
      font-size: 22px;
      border-radius: 50%;
      transition-duration: 150ms;
      margin-top: 5%;

      &:hover {
        background-color: rgba(white, 0.2);
      }

      &-align-justify {
        transform: scale(1.2);
        margin-top: 20%;
      }
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-logo-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: auto;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    .logo {
      padding: 10px;
      max-width: 100px;
    }
  }

  &__item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 0 15px 0;
    cursor: pointer;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;

    &:first-child {
      margin-top: 20px;
    }

    &:hover .navigation__item-name::before {
      width: 100%;
      left: 0;
    }

    &-name {
      color: white;
      position: relative;
      padding: 0 0.2em 0 0.2em;

      &::before {
        content: '';
        position: absolute;
        transition-duration: 200ms;
        height: 0.05em;
        width: 0;
        bottom: -10%;
        left: 50%;
        background-color: white;
        transition-duration: 200ms;
      }
    }
  }
}
