<div class="container">
  <div
    class="model"
    *ngFor="let model of this.data; let i = index; trackBy: this.trackByTitle"
    [ngClass]="{'model--standard': this.imagesModes[i]===this.NORMAL,
   'model--panoramic': this.imagesModes[i]===this.PANORAMIC,
    'model--ultra-panoramic': this.imagesModes[i]===this.ULTRA_PANORAMIC}"
  >
    <img
      #image
      (load)="this.calcIsPanoramic(image, i)"
      class="model__image"
      loading="lazy"
      [src]="model.mainImage"
    />
    <p class="model__title">
      "{{model.mainTitle}}"
      <span class="model__date">{{this.getCreateDate(model)}}</span>
    </p>
  </div>
</div>
