<div class="container" *ngIf="this.loaded | async">
  <div
    class="model"
    (click)="makeRoute(i)"
    *ngFor="let item of items; let i = index; trackBy: this.trackByTitle"
    [@ease]="item.state"
    [ngClass]="{'model--standard': this.imagesModes[i]===this.NORMAL,
   'model--panoramic': this.imagesModes[i]===this.PANORAMIC,
    'model--ultra-panoramic': this.imagesModes[i]===this.ULTRA_PANORAMIC}"
  >
    <img
      #image
      (load)="this.calcIsPanoramic(image, i)"
      class="model__image"
      loading="lazy"
      [src]="item.item.mainImage"
    />
    <p class="model__title">
      "{{item.item.mainTitle}}"
      <span class="model__date">{{this.getCreateDate(item)}}</span>
    </p>
  </div>
</div>
