@import "../../../styling/all.scss";

.container{
  width: 100%;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.model{
  max-height: 500px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  // border: 10px solid orange;

  &--standard{
    width: 50%;
  }

  &--panoramic{
    width: 100%;
  }

  &--ultra-panoramic{
    width: 100%;
  }

  &__image{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    object-fit: contain;
    width: 100%;
  }

  &__title{
    opacity: 0;
    transition-duration: 300ms;
    font-size: 23px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-style: italic;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    cursor: pointer;
  }

  &__date{
    font-size: 20px;
  }

  &:hover .model__title{
    opacity: 1;

    background-color: rgba(black, 0.5);
  }
}