<div class="container" *ngIf="this.loaded | async">
  <div
    class="model"
    (click)="makeRoute(i)"
    *ngFor="let item of items; let i = index; trackBy: this.trackByTitle"
    [@ease]="item.state"
    [ngClass]="{'model--standard': item.sizeRatio === 1,
   'model--panoramic': item.sizeRatio === 2,
    'model--ultra-panoramic': item.sizeRatio >= 3}"
  >
    <img
      #image
      (load)="this.calcSizeRatio(image, i)"
      class="model__image"
      loading="lazy"
      [src]="item.item.mainImage"
    />
    <div class="model__shadow"></div>
    <p class="model__title">
      "{{item.item.mainTitle}}"
      <span class="model__date">{{this.getCreateDate(item)}}</span>
    </p>
  </div>
</div>
