<h2 class="header">
  Abstract Visioner
</h2>
<div class="content">
  <div class="content__row">
    <div class="content__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Egestas congue quisque egestas diam in. Eget arcu dictum varius duis at. Vestibulum sed arcu non
      odio. In tellus integer feugiat scelerisque varius morbi. Pretium quam vulputate dignissim suspendisse in est ante
      in nibh. Quis vel eros donec ac odio tempor orci dapibus. Interdum posuere lorem ipsum dolor sit amet consectetur
      adipiscing elit. Ut tristique et egestas quis ipsum suspendisse ultrices gravida. Ullamcorper velit sed
      ullamcorper morbi tincidunt ornare massa eget. Cras fermentum odio eu feugiat pretium nibh ipsum. Eleifend mi in
      nulla posuere sollicitudin aliquam ultrices sagittis. At quis risus sed vulputate odio ut. Magna fermentum iaculis
      eu non diam phasellus vestibulum.
    </div>
    <img class="content__image" src="../../../assets/images/home-image1.jpg" loading="lazy">
  </div>
  <div class="content__row">
    <img class="content__image" src="../../../assets/images/home-image2.png" loading="lazy">
    <div class="content__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Egestas congue quisque egestas diam in. Eget arcu dictum varius duis at. Vestibulum sed arcu non
      odio. In tellus integer feugiat scelerisque varius morbi. Pretium quam vulputate dignissim suspendisse in est ante
      in nibh. Quis vel eros donec ac odio tempor orci dapibus. Interdum posuere lorem ipsum dolor sit amet consectetur
      adipiscing elit. Ut tristique et egestas quis ipsum suspendisse ultrices gravida. Ullamcorper velit sed
      ullamcorper morbi tincidunt ornare massa eget. Cras fermentum odio eu feugiat pretium nibh ipsum. Eleifend mi in
      nulla posuere sollicitudin aliquam ultrices sagittis. At quis risus sed vulputate odio ut. Magna fermentum iaculis
      eu non diam phasellus vestibulum.
    </div>
  </div>

</div>