@import '../../../styling/all.scss';

:host {
  display: flex;
  width: 100%;
  flex: 1;
}
.home-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  background-image: url('../../../assets/images/home-image2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
  opacity: 1;

  &__img {
    width: 20%;
    bottom: 0;
    right: 0;
    margin: 10px;
    position: absolute;
  }

  &-overlay {
    width: 100%;
    display: flex;
    background-color: #000;
    justify-content: center;
    opacity: 0.4;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
  }

  &-data-con {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    position: absolute;
  }

  &-header {
    letter-spacing: 5px;
    color: white;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
      Geneva, Verdana, sans-serif;
    font-weight: 600;
  }

  &__button {
    width: 150px;
    height: 50px;
    padding: 10px 25px;
    border: 2px solid white;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: white;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }

  &__button:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: #e0e5ec;
    transition: all 0.3s ease;
  }
  &__button:hover {
    color: #000;
  }
  &__button:hover:after {
    top: 0;
    height: 100%;
  }
  &__button:active {
    top: 2px;
  }
}
