@import '../../../styling/all.scss';

:host {
  @include flex-container;
  flex-direction: row;
}

.cart {
  max-width: 200px;
  flex: unset;
}

.nav {
  max-width: 200px;
  flex: unset;
}

.router {
  @include flex-container;
}

$top-nav-height:80px;

.top-nav__button-headset {
  margin-right: 5%;
}

.main-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 100vh;

  .top-nav {

    display: flex;
    position: sticky;
    background-color: $surface-1;
    width: 100%;
    z-index: 99;
    justify-content: space-between;
    align-items: center;
    top: 0;
    height: $top-nav-height;
    flex-direction: row;
    align-content: center;

    &__logo {
      max-width: 100px;
      margin-left: 5%;
    }

    .links-container {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
    }

    &__link {
      text-decoration: none;
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 10px 25px;
      font-weight: 600;
      font-size: 15px;
      color: white;
      background: transparent;
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
      z-index: 9;
      text-align: center;
      letter-spacing: 0;
    }
    
    &__link:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: $surface-2;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    
    &__link:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }

   

    &__button {
      padding: 10px 10px 10px 5px;
      display: flex;
      transition: ease 0.5s;
      align-items: center;
      justify-content: center;

      & .pi {
        cursor: pointer;
        padding: 7px;
        font-size: 22px;
        border-radius: 50%;
        transition-duration: 150ms;
        margin-top: 5%;

        &:hover {
          background-color: rgba(white, 0.2);
        }
      }
    }
  }

  .content-container {
    display: flex;
    width: 100%;
    flex: 1;
    flex-grow: 1;
    flex-basis: 0;
    overflow-y: scroll;
    flex-direction: column;
    overflow: auto;
  }
}
