@import '../../../styling/all.scss';

:host {
  @include flex-container;
  flex-direction: row;
}

.cart {
  max-width: 200px;
  flex: unset;
}

.nav {
  max-width: 200px;
  flex: unset;
}

.router {
  @include flex-container;
}

$top-nav-height:80px;

.main-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 100vh;

  .top-nav {

    display: flex;
    position: sticky;
    background-color: $surface-1;
    width: 100%;
    z-index: 99;
    justify-content: space-between;
    align-items: center;
    top: 0;
    height: $top-nav-height;
    flex-direction: row;
    align-content: center;

    &__logo {
      max-width: 100px;
      margin-left: 2%;
    }

    .links-container {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
    }

    &__link {
      width: 100%;
      text-decoration: none;
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 10px 25px;
      font-weight: 600;
      font-size: 15px;
      color: white;
      background: transparent;
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
      z-index: 9;
      text-align: center;
      letter-spacing: 0;
    }

    &__link:hover,
    &__link:active {
      letter-spacing: 2px;
    }

    &__link:after,
    &__link:before {
      backface-visibility: hidden;
      border: 1px solid rgba(#fff, 0);
      bottom: 0px;
      content: ' ';
      display: block;
      margin: 0 auto;
      position: relative;
      transition: all 280ms ease-in-out;
      width: 0;
    }

    &__link:hover:after,
    &__link:hover:before {
      backface-visibility: hidden;
      border-color: #fff;
      transition: width 350ms ease-in-out;
      width: 70%;
    }

    &__link:hover:before {
      bottom: auto;
      top: 0;
      width: 70%;
    }

    &__button {
      padding: 10px 10px 10px 5px;
      display: flex;
      align-items: center;
      justify-content: center;

      & .pi {
        cursor: pointer;
        padding: 7px;
        font-size: 22px;
        border-radius: 50%;
        transition-duration: 150ms;
        margin-top: 5%;

        &:hover {
          background-color: rgba(white, 0.2);
        }
      }
    }
  }

  .content-container {
    display: flex;
    width: 100%;
    flex: 1;
    flex-grow: 1;
    flex-basis: 0;
    overflow-y: scroll;
    flex-direction: column;
    overflow: auto;
  }
}
