<div class="main-container">
  <div class="top-nav">
    <a *ngFor="let item of navItems" [routerLink]="item.routerLink ? item.routerLink : ''"></a>
    <button (click)="this.cartExpand = !this.cartExpand">Open Nav</button>
    <button (click)="this.navExpand = !this.navExpand">Open Cart</button>
  </div>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</div>

<app-side-nav [(expandNav)]="this.navExpand" [items]="this.navItems" class="nav"></app-side-nav>
<app-mixer-cart [(visible)]="this.cartExpand"></app-mixer-cart>
