@import '../../../styling/all.scss';

:host {
  @include flex-container;
  flex-direction: row;
}
.cart {
  max-width: 200px;
  flex: unset;
}
.nav {
  max-width: 200px;
  flex: unset;
}

.router {
  @include flex-container;
}

.main-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 100vh;

  .top-nav {
    display: flex;
    position: sticky;
    background-color: $surface-1;
    width: 100%;
    z-index: 99;
    justify-content: flex-end;
    align-items: center;

    &__logo {
      max-width: 100px;
    }

    .links-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__link {
      width: 150px;
      text-decoration: none;
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      padding: 10px 25px;
      border: 2px solid white;
      font-weight: 600;
      font-size: 15px;
      color: white;
      background: transparent;
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
      z-index: 9;
      text-align: center;

      &__p {
        align-self: center;
      }
    }

    &__link:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      background: #e0e5ec;
      transition: all 0.3s ease;
    }
    &__link:hover {
      color: #000;
    }
    &__link:hover:after {
      top: 0;
      height: 100%;
    }
    &__link:active {
      top: 2px;
    }

    &__button {
      padding: 10px 10px 10px 5px;
      display: flex;
      align-items: center;
      justify-content: center;

      & .pi {
        cursor: pointer;
        padding: 7px;
        font-size: 22px;
        border-radius: 50%;
        transition-duration: 150ms;
        margin-top: 5%;

        &:hover {
          background-color: rgba(white, 0.2);
        }
      }
    }
  }

  .content-container {
    display: flex;
    // margin-top: 50px;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
  }
}
