<div class="main-container">
  <div class="top-nav">
    <img class="top-nav__logo" src="../../../assets/images/Abstract Visioner_tr_small.png" />
    <span style="flex: 1"></span>
    <span *ngIf="!isHeadset" class="top-nav__button" (click)="this.navExpand = !this.navExpand">
      <i class="pi pi-align-justify"> </i>
    </span>
    <span class="links-container" *ngIf="isHeadset">
      <a
        class="top-nav__link"
        *ngFor="let item of navItems"
        [routerLink]="item.routerLink ? item.routerLink : ''"
      >
        <p class="top-nav__link__p">{{item.name}}</p></a
      ></span
    >

    <span class="top-nav__button" (click)="this.cartExpand = !this.cartExpand">
      <i class="pi pi-sliders-v"> </i>
    </span>
  </div>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</div>

<app-side-nav [(expandNav)]="this.navExpand" [items]="this.navItems" class="nav"></app-side-nav>
<app-mixer-cart [(visible)]="this.cartExpand"></app-mixer-cart>
