@import '../../../styling/all.scss';

:host {
    flex-grow: 1;
    flex-basis: 0;
    overflow-y: scroll;
}

.main-container {
    display: flex;
    min-height: calc(100vh - 80px);
    justify-content: center;
    flex-direction: column;
    background: transparent;
    align-items: center;


    &__icon {
        & .pi {
            font-size: min(300px, 70vw);
        }
    }

    .img-container-tiny {
        max-height: 500px;
        width: 80vw;
    }

    .img-container-small {
        max-height: 500px;
        width: 80vw;
    }

    .img-container-medium {
        max-height: 600px;
        width: 500px;
    }

    .img-container-large {
        max-height: 700px;
    }

    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        max-width: 100%;
        border-radius: 5px;

        .img {
            transition: ease 1s;
            max-width: 100%;
        }
    }

    .actions-container {
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;

        @include styled-button(".action-button");

        .action-button--disabled {
            color: rgba($color: rgb(158, 158, 158), $alpha: 0.8);
            border-color: rgba($color: rgb(158, 158, 158), $alpha: 0.8);
        }

        .action-button {
            margin: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }
}