<div class="main-container">
  <div class="img-container">
    <img
      src="../../../assets/images/home-image2.jpg"
      [ngClass]="
      (size | async ) == 0? 'img-container-tiny': 
      (size | async) == 1? 'img-container-small': 
      (size | async) == 2? 'img-container-medium': 'img-container-large'"
      class="img"
    />
  </div>
  <div class="actions-container">
    <button class="action-button">Mix</button>
    <button class="action-button">Make public</button>
    <button class="action-button">Download</button>
  </div>
</div>
