$color-background: #2f2f2f;
$color-background2: #909090;
$color-background3: #434343;
$surface-1: #212121;
$surface-2: #722022;
$font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
  sans-serif;
