@import "../../../styling/all.scss";

:host{
  @include flex-container;
  background-color: $surface-1;
  padding: 20px;
}

.items{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo{
  width: 100%;
  margin-top: auto;
  margin-bottom: -10%;
}

.item{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 0 15px 0;
  cursor: pointer;
  justify-content: center;
  text-decoration: none;
  text-align:  center;
  margin-top: 10px;
  font-size: 20px;

  &:first-child{
    margin-top: 0;
  }

  &:hover .item__name::before{
    width: 100%;
    left: 0;
  }

  &__name{
    color: white;
    // width: 100%;
    position: relative;
    padding: 0 0.2em 0 0.2em;

    &::before{
      content: '';
      position: absolute;
      transition-duration: 200ms;
      height: 0.05em;
      width: 0;
      bottom: -10%;
      left: 50%;
      background-color: white;
      transition-duration: 200ms;
    } 
  }
}