@import './styling/all.scss';

body {
  width: 100%;
  margin: 0;
  background-color: $color-background;
  color: white;
  min-height: 100vh;
  @include flex-container;
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: $font;
}

::-webkit-scrollbar {
  width: 1em;
}
::-webkit-scrollbar-thumb {
  background-color: $color-background;
  outline: 1px solid $surface-1;
  border-radius: 10px;
}
