@import './styling/all.scss';

body {
  width: 100%;
  margin: 0;
  background-color: $color-background;
  color: white;
  min-height: 100vh;
  overflow: hidden;
  @include flex-container;
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: $font;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: $color-background2;
  outline: 1px solid $color-background;
  border-radius: 10px;
}
