@import '../../../styling/all.scss';

:host {
  z-index: 9999;
}

.cart-container {
  display: flex;
  position: fixed;
  top: 0;
  overflow-y: scroll;
  right: 0;
  background-color: $surface-1;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  z-index: 9999;

  &-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

    & .pi {
      cursor: pointer;
      padding: 7px;
      font-size: 22px;
      border-radius: 50%;
      transition-duration: 150ms;
      margin-top: 5%;

      &:hover {
        background-color: rgba(white, 0.2);
      }
    }
  }

  &-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
    min-height: calc(100vh - 50px);

    &__button {
      margin-top: auto !important;
      margin: 10px;
      width: 150px;
      height: 50px;
      padding: 10px 25px;
      border: 2px solid white;
      font-family: 'Lato', sans-serif;
      font-weight: 600;
      font-size: 15px;
      color: white;
      background: transparent;
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
      display: inline-block;
      z-index: 9;
    }

    &__button:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      background: #e0e5ec;
      transition: all 0.3s ease;
    }

    &__button:hover {
      color: #000;
    }

    &__button:hover:after {
      top: 0;
      height: 100%;
    }

    &__button:active {
      top: 2px;
    }

    .content-item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 10px;

      &__img {
        width: 100%;
      }

      .content-item-overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;

        .overlay__p {
          margin: 0;
        }
      }
    }
  }
}