@import '../../../styling/all.scss';

:host {
  z-index: 9999;
}

.cart-container {
  display: flex;
  position: fixed;
  top: 0;
  overflow-y: scroll;
  right: 0;
  background-color: $surface-1;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  z-index: 9999;

  &-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

    & .pi {
      cursor: pointer;
      padding: 7px;
      font-size: 22px;
      border-radius: 50%;
      transition-duration: 150ms;
      margin-top: 5%;

      &:hover {
        background-color: rgba(white, 0.2);
      }
    }
  }

  &-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
    min-height: calc(100vh - 50px);
    padding-bottom: 10px;

    @include styled-button("&__button");

    &__button{
     margin-top: auto; 
    }

    .content-item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 10px;
      margin-bottom: 10px;
      position: relative;

      &:hover .content-item-overlay {
        display: flex;
      }

      &__img {
        width: 100%;
      }

      .content-item-overlay {
        display: none;
        // justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        position: absolute;

        @include styled-button("&__button");

        &__button{
          @include styled-button("&-details");
          @include styled-button("&-delete", black, rgb(186, 23, 23));

          &-delete,
          &-details{
            width: 100px;
            height: 30px;
            padding: 5px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 15px;
          }

          &:first-child{
            margin-top: 0 !important;
          }
        }

        .overlay__p {
          margin: 0;
        }
      }
    }
  }
}