@import "../../../styling/all.scss";

:host {
    z-index: 9999;
}

.cart-container {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    background-color: $surface-1;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    z-index: 9999;

    &-header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
    }

    &-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: auto;
        min-height: calc(100vh - 50px);

        &__button {
            margin-top: auto !important;
            padding: 10px;
            margin: 25px;
        }

        .content-item {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 10px;

            &__img {
                width: 100%;

            }

            .content-item-overlay {
                display: flex;
                justify-content: center;
                align-items: center;
                position: fixed;

                .overlay__p {
                    margin: 0;
                }
            }           
        }
    }
}